.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp");
  min-height: 100vh;
  max-width: 100vw;
  .form-container {
    display: flex;
    flex-direction: column;
    padding: 80px;
    background-color: #fff;
    border-radius: 4px;
    font-size: 1rem;
    gap: 20px;
    box-shadow: 0 0 2px 2px rgb(190, 180, 180);
    input {
      padding: 15px 20px;
      border-radius: 4px;
      border: none;
      outline: none;
      width: 400px;
      font-size: 1rem;
      background-color: rgb(217, 217, 217);
    }
  }
}
